{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<h1 align="center"><a href="/"> Минутки.online</a></h1>

<table align="center" style="max-width: 300px; width: 80%;">
    <tr>
      <th >name</th>
      <th style="text-align: left;"><b>{{ doc.upload_file.name }}</b>(<a type="application/octet-stream" href="{{ doc.upload_file.url }}" download>download</a>)</th>
    </tr>
    <tr>
      <td ><b>status</b></td>
      <td style="text-align: left;">{{doc.status}}</td>
    </tr>
    <tr>
      <td><b>result</b></td><td><div style="border: 1px solid gray; background-color:azure; overflow:hidden; min-height: 300px; min-width: 300px; font-family: 'Courier New', monospace;
        white-space: pre; text-align: left; overflow-x: auto; overflow-y: auto; max-width: 1300px;">{{doc.result}}</div></td>
      <!-- <td ></td>
      <td><pre>{{doc.result}}</pre></td> -->
      <!-- <td colspan="2" ><textarea display="inline" min-height="100%" min-width="100%" width="100%" height="100%" overflow-x="auto" overflow-y="auto">{{doc.result}}</textarea></td> -->
    </tr>
</table>